.footer__links {
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 18px;
    padding: 0;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .footer__links {
        line-height: 14px;
        flex-direction: column;
        gap: 32px;
    }
}